// Bootstrap
$brand-warning: #f38f19;
$brand-success: #6ea76c;
$white: #fafafa;
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// dependencies
@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/base16-light";
@import "~codemirror/addon/dialog/dialog";
@import "~highlight.js/styles/github";

// common
@import "common/common";
@import "common/codemirror";
@import "common/markdown_preview";

// app
@import "app/index";