<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Idees</title>

    <link href="../public/css/font-awesome.css" rel="stylesheet" />
    <link href="../public/css/app.css" rel="stylesheet" />
</head>
<body style="-webkit-app-region: drag">
<div id="app">
    <app></app>
</div>
</body>


<script>
    let ipcRenderer = require('electron').ipcRenderer;
    let remote = require('electron').remote;

    const Fs = require('fs');
    const Store = require('electron-store');
    const config_store = new Store({
        name: 'config',
    });
    const disk_driver_store = new Store({
        name: 'disk_driver',
    });

    ipcRenderer.on('console-log', (event, arg)=>{
        window.console.log(arg);
    });
    window.user_documents_path = remote.getGlobal('user_documents_path');
    window.platform = process.platform;

</script>
<script type="text/javascript" src="../public/js/app.js"></script>
<script>
</script>
</html>
