.cm-header-1 {
  font-size: 36px;
}
.cm-header-2 {
  font-size: 30px;
}
.cm-header-3 {
  font-size: 24px;
}
.cm-header-4 {
  font-size: 18px;
}
.cm-header-5 {
  font-size: 14px;
}
.cm-header-6 {
  font-size: 12px;
}